body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input Fields */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-login {
    background-color: #111010;
    color: white;
}

.btn-login:hover {
    background-color: #ff4500;
}

.btn-signup {
    background-color: #1a1717;
    color: white;
}

.btn-signup:hover {
    background-color: #ff4500;
}

/* Redirect text */
.redirect {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.redirect a {
    color: #ff4500;
    text-decoration: none;
}

.redirect a:hover {
    text-decoration: underline;
}
